azure-ai-projects
azure-ai-inference
azure-ai-evaluation
azure-core
azure-identity
ipython
packaging
psutil
debugpy>=1.6.5
ipython>=7.23.1
jupyter-client>=6.1.12
pyzmq>=24
tornado>=6.1
platformdirs>=2.5
opentelemetry-api 
opentelemetry-sdk
azure-core-tracing-opentelemetry
azure-ai-evaluation[redteam]