{
  "openapi": "3.0.0",
  "info": {
    "title": "Logic App Trigger",
    "version": "1.0.0",
    "description": "Calls the Logic App when an HTTP request is received."
  },
  "paths": {
    "/workflows/9adeacdf151e4b6e9a08c0f5b06951d1/triggers/When_a_HTTP_request_is_received/paths/invoke": {
      "post": {
        "operationId": "triggerLogicApp",
        "summary": "Trigger Logic App",
        "description": "Sends a request to the Logic App HTTP trigger.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2016-10-01"
            }
          },
          {
            "name": "sp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "/triggers/When_a_HTTP_request_is_received/run"
            }
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1.0"
            }
          },
          {
            "name": "sig",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "D8W3fmtQ6ln1GMxkhv6Y_f8VCA24Myia2u4SaJ1pPM4"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string",
                    "description": "A city location"
                  }
                },
                "required": ["location"]
              },
              "example": {
                "location": "Seattle"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://prod-46.eastus.logic.azure.com"
    }
  ]
}
